<h1 class="header">
    <div class="header__bgc">
        <span class="header__bgc-text">
            Home page
        </span>
    </div>
</h1>
<h1 class="header2">
    <div class="header__bgc2">
        <span class="header__bgc-text2">
            Home page
        </span>
    </div>
</h1>