<div class="search-form">
    <form method="post" action="/search">
  <div class="mb-3 mt-3">
       <input type="text" name="Age" id="">
    <input type="text" name="fullName" id="">
    <label for="search-input" class="form-label">Từ khóa</label>
    <input type="text"  name="q" class="form-control" id="search-input" >
  </div>
    <div class="mb-3 mt-3">
    <select   name="genter" id="select-input" >
        <option>---genter---</option>
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>